
aside {
	display: flex;
	justify-content: center;
}

.profile {
	position: relative;
	background-color: $background-lighter;
	margin-bottom: 1rem;
	padding: 1rem;

	.container {
		width: max-content;
		text-align: center;
		font-size: 1em;

		h4 {
			font-size: 1.3750rem;
			margin-top: 0;
			margin-bottom: 1.5rem;
		}
	}

	@include spectrum-spripe;
}

#styles {
	margin: 2rem 0;

	.container {
		text-align: center;

		> a {
			text-align: center;
			@include button($blue);
			margin: 1em auto;
			width: max-content;
		}
	}
}