
body {
	display: flex;
	flex-direction: column;
	
	background-color: $background;
	font-family: $plex;
	color: $main-text;
	padding-top: 0.5rem;

	a {
		color: $orange;
		outline: none;
		transition: 150ms ease-in-out;

		&:hover,
		&:focus {
			color: $violet;
		}
	}
}