
body {
	display: flex;
	flex-direction: column;
	
	background-color: $background;
	font-family: $plex;
	color: $main-text;
	padding-top: 0.5rem;

	main {
		line-height: 1.6;
		font-weight: 300;
		width: 100%;
		margin-bottom: 2rem;
	
		section.container {
			padding-bottom: 1.5rem;
		}
	}

	aside {
		display: flex;
		justify-content: center;
	}

	a {
		color: $orange;
		outline: none;
		transition: 150ms ease-in-out;

		&:hover,
		&:focus {
			color: $violet;
		}
	}

	ul {
		list-style: none;
		padding: 0;
	}
}