
section.container {
	display: grid;
	grid-template-columns: 1fr $content-width 1fr;

	h2 {
		grid-row: 1 / 2;
		grid-column: 1 / -1;
	}

	h3,
	a,
	p,
	blockquote {
		grid-column: 2 / 3;
	}
}

@media (max-width: $large) {
	section.container {
		grid-template-columns: 100%;

		h3,
		a,
		p,
		blockquote {
			grid-column: 1 / -1;
		}
	}
}

#about {
	// Setting the Stage
	section.container:first-of-type {
		grid-template-rows: repeat(5, max-content);

		p:first-of-type {
			grid-row: 2 / 3; 
		}

		p:nth-of-type(2) {
			grid-row: 3 / 4; 
		}

		blockquote {
			grid-row: 4 / 5;
		}

		p:last-of-type {
			grid-row: 5 / 6;
		}
	}

	// Modern CSS Under the Spotlight
	section.container:last-of-type {
		grid-template-columns: 1fr repeat(3, ($content-width / 3)) 1fr;
		grid-template-rows: repeat(5, max-content);

		p:first-of-type { 
			grid-column: 2/ 5;
			grid-row: 2 / 3; 
		}

		p:nth-of-type(2) { 
			grid-column: 2/ 3;
			grid-row: 3 / 4; 
		}

		ul {
			grid-column: 3 / 5;
			grid-row: 3 / 4;

			display: grid;
			grid-template-columns: repeat(2, 1fr);

			li {
				grid-column: 1 / 2;
			}

			li:nth-of-type(2n) {
				grid-column: 2 / 3;
			}


		}

		@media (max-width: $medium) {
			ul {
				display: flex;
				flex-direction: column;

				li {
					margin-left: 2rem;
				}
			}
		}

		p:nth-of-type(3) {
			grid-column: 2/ 5;
			grid-row: 4 / 5; 
		}

		p:last-of-type {
			grid-column: 2/ 5;
			grid-row: 5 / 6; 
		}
	}

	@media (max-width: $large) {
		section.container:last-of-type {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(6, max-content);

			ul,
			p:first-of-type,
			p:nth-of-type(2),
			p:nth-of-type(3),
			p:last-of-type {
				grid-column: 1 / -1;
			}

			ul {
				grid-row: 4 / 5;
			}

			p:nth-of-type(3) {
				grid-row: 5 / 6; 
			}
	
			p:last-of-type {
				grid-row: 6 / 7; 
			}
		}
	}
}

#guidelines section.container {
	grid-template-rows: repeat(7, max-content);

	p:first-of-type {
		grid-row: 2 / 3; 
	}

	h3 {
		grid-row: 3 / 4;
	}

	p:nth-of-type(2) {
		grid-row: 4 / 5; 
	}

	p:nth-of-type(3) {
		grid-row: 5 / 6; 
	}

	p:last-of-type {
		grid-row: 6 / 7;
	}

	a {
		grid-row: 7 / 8;
	}
}

#contribute {
	section.container:first-of-type {
		grid-template-rows: repeat(3, max-content);

		p:first-of-type {
			grid-row: 2 / 3; 
		}

		p:last-of-type {
			grid-row: 3 / 4; 
		}
	}

	// Steps to Conribute
	section.container:last-of-type {
		grid-template-rows: repeat(3, max-content);

		h3 {
			grid-row: 2 / 3;
		}

		ol {
			grid-column: 2 / 3;
			grid-row: 3 / 4;

			display: grid;
			grid-template-rows: repeat(2, max-content);
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: $large) {
			ol {
				grid-column: 1 / -1;
				display: flex;
				flex-direction: column;
			}
		}
	}
}