
.skip-link {
	color: $darker-text;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.75rem;
	transition: 200ms ease-in-out;
	margin: 0.5rem;

	&:hover,
	&:focus {
		color: $main-text;
	}
}

header {
	display: grid;
	place-items: center;
	text-align: center;
	height: 80vh;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h1 {
		order: 1;
		font-family: $arvo;
		font-size: 8rem;
		font-weight: 700;
		text-transform: uppercase;
		background: $orange;
		background: $spectrum;
		@include text-clip;
		margin-top: 1rem;
	}

	h2 {
		order: 0;
		color: $darker-text;
		font-size: 1.25rem;

		&::after {
			content: '...'
		}
	}

	p {
		order: 2;
		color: $darker-text;
		margin-bottom: 5rem;
	}

	svg {
		width: 32px;
		height: 32px;
		fill: $main-text;
	}

	.link-github {
		order: 3;
		width: max-content;
	}

	@include github-link;
}