
// .skip-link {

// }

header {
	text-align: center;
	height: 80vh;

	h1 {
		font-family: $arvo;
		font-size: 8rem;
		font-weight: 700;
		text-transform: uppercase;
		background: $spectrum;
		@include text-clip;
	}

	svg {
		width: 32px;
		height: 32px;
		fill: $main-text;
	}

	@include github-link;
}