
main {
	line-height: 1.6;
	font-weight: 300;
	width: 100%;
	margin-bottom: 2rem;

	section.container {
		padding-bottom: 1.5rem;
	}

	h2 {
		grid-area: header;
		position: relative;
		font-family: $arvo;
		font-size: 2.5rem;
		text-align: center;
		background: $background-lighter;
		width: 100%;
		height: 100%;
		padding: 1rem 10rem;
		margin: 0;

		@include spectrum-spripe;
	}

	h3 {
		text-align: center;
		font-size: 1.25rem;
	}

	p {
		margin: 0.75em 0;
	}
	
	blockquote {
		position: relative;
		// background: $background-lighter;
		border-radius: $border-radius;
		font-family: $plex-mono;
		
		color: $darker-text;
		margin: 2rem 0;
		padding: 1rem 3.5rem;

		strong {
			display: block;
			font-size: 1.125rem;
			color: $main-text;
			margin-bottom: 0.5em;
		}
		
		&::before {
			content: '{';
			top: 0.1em;
			left: 0.25em;
		}

		&::after {
			content: '}';
			bottom: 0.1em;
			right: 0.25em;
		}

		&::before,
		&::after {
			position: absolute;
			margin: 0;
			font-size: 2.5em;
			font-weight: 700;
			color: $green;
		}

		// TODO: Tart this up a bit.
	}
	
	// 'Review Guidelines' button.
	#guidelines .container {
		h3 {
			font-family: $plex-mono;
			text-transform: lowercase;
			font-size: 1.5rem;

			&::before {
				content: '{';
			}

			&::after {
				content: '}';
			}

			&::before,
			&::after {
				margin: 0 0.5em;
				font-size: 1.25em;
				font-weight: 700;
				color: $violet;
			}
		}
		
		> a {
			text-align: center;
			@include button($violet, $violet, $violet);
			margin: 1em auto;
			width: max-content;
		}
	}
}