
main {
	line-height: 1.6;
	width: 100%;

	// TODO: Switch .container sections to display: grid.

	h2 {
		position: relative;
		font-family: $arvo;
		font-size: 2.5rem;
		text-align: center;
		background: $background-lighter;
		width: 100%;
		padding: 1rem 10rem;
		overflow: hidden;

		&::after {
			content: '';
			position: absolute;
			background: $orange;
			background: $spectrum-mini;
			height: 30px;
			width: 200px;
			top: 30%;
			right: 0%;
			transform: rotate(-65deg);
		}

		~ *:not(a) {
			width: 1000px;
		}
	}

	h3 {
		text-align: center;
	}

	section {
		display: flex;
		flex-direction: column;
		align-items: center;

		> *:not(h2) {
			margin: 0 auto;
		}

		> a {
			@include button;
		}
	}
}