

@mixin text-clip {
	// Risizes, positions and clips the background
	// to colour in the text with the gradient or
	// background image.

	background-position: 0% 45%;
	background-size: 100% 70%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin button {
	background-color: $background-lighter;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	color: $main-text;
	letter-spacing: .125em;
	padding: 0.75em 1.5em;
	border-radius: $border-radius;
	
}

@mixin github-link {
	.link-github {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: $background-lighter;
		padding: 1em 5em;
		border-radius: $border-radius;
		width: max-content;

		text-transform: uppercase;
		text-decoration: none;
		font-weight: 700;
		color: $main-text;
		letter-spacing: .125em;

		svg {
			width: 32px;
			height: 32px;
			fill: $orange;
			transition: 150ms ease-in-out;
			margin-bottom: 0.5rem;
		}

		&:hover,
		&:focus {
			color: $main-text;

			svg {
				fill: $violet;
			}
		}
	}
}

@mixin nav-underline($colour) {
	a::after {
		content: '';
		position: absolute;
		background-color: $colour;
		height: 0.5rem;
		left: 0;
		top: 1.25rem;
		right: 0;
		transition: 150ms ease-in-out;
	}

	a:hover::after,
	a:focus::after {
		height: 1rem;
	}
}