

@mixin text-clip {
	// Risizes, positions and clips the background
	// to colour in the text with the gradient or
	// background image.

	background-position: 0% 45%;
	background-size: 100% 70%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin button($colour1, $colour2, $colour3) {
	display: inline-block;
	width: 15rem;
	background-color: $background-lighter;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	font-size: 0.8750rem;
	color: $main-text;
	letter-spacing: .125em;
	padding: 0.75em 2.65em;
	border-radius: $border-radius;
	outline: none;
	transition: $transition;

	&:hover,
	&:focus {
		color: $violet;
	}

	&:first-of-type {
		@include button-accent($colour1);
		@include button-braces($colour1)
	}

	&:nth-of-type(2) {
		@include button-accent($colour2);
		@include button-braces($colour2)
	}

	&:last-of-type {
		@include button-accent($colour3);
		@include button-braces($colour3)
	}
}

@mixin button-accent($colour) {
	position: relative;
	overflow: hidden;

	&::before {
		position: absolute;
		content: '';
		background-color: $colour;
		width: 0.6250rem;
		top: 0;
		left: 0;
		bottom: 0;
	}
}

@mixin button-braces($colour) {
	&::after {
		position: absolute;
		content: '{}';
		font-size: 1.25em;
		color: $colour;
		margin-left: .5em;
		font-weight: 700;
		top: .45em;
		right: .65em;
	}
}

@mixin github-link {
	.link-github {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: $background-lighter;
		padding: 1em 5em;
		border-radius: $border-radius;
		width: max-content;

		text-transform: uppercase;
		text-decoration: none;
		font-weight: 700;
		color: $main-text;
		letter-spacing: .125em;

		svg {
			width: 32px;
			height: 32px;
			fill: $orange;
			transition: 150ms ease-in-out;
			margin-bottom: 0.5rem;
		}

		&:hover,
		&:focus {
			color: $main-text;

			svg {
				fill: $violet;
			}
		}
	}
}

@mixin nav-underline($colour) {
	a::after {
		content: '';
		position: absolute;
		background-color: $colour;
		height: 0.5rem;
		left: 0;
		top: 1.25rem;
		right: 0;
		transition: 150ms ease-in-out;
	}

	a:hover::after,
	a:focus::after {
		height: 1rem;
	}
}

@mixin spectrum-spripe {
	&::after {
		content: '';
		position: absolute;
		background: $orange;
		background: $spectrum-mini;
		height: 30px;
		width: 250px;
		top: 30%;
		right: -2%;
		transform: rotate(-65deg);
	}

	overflow: hidden;
}

@mixin ul-bullet($colour) {
	&::before {
		content: '#';
		margin-right: .5em;
		color: $colour;
	}
}

