
// Colours

$background: #030303;

$main-text: #f5f5f5;

$red: #ff2828;
$orange: #ff8400;
$yellow: #ffe21b;
$green: #4fff19;
$blue: #23ddff;


// Fonts

$arvo: 'Arvo', sans-serif;
$plex: 'IBM Plex Sans', sans-serif;
$plex-mono: 'IBM PLex Mono', sans-serif;