
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=IBM+Plex+Mono:wght@300;400;700&family=IBM+Plex+Sans:wght@300;400;700	&display=swap');

@import 'normalize';
@import 'variables';
@import 'mixins';

@import 'body';
@import 'header';
@import 'nav';
@import 'main';
@import 'grids';
@import 'aside';
@import 'footer';
@import 'lists';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	*, ::before, ::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}


// TODO: Scrollbar styling.

// TODO: Responsive stuff. Learn SASS breakpoints.
