
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=IBM+Plex+Mono:wght@300;400&family=IBM+Plex+Sans:wght@300;400&display=swap');

@import 'normalize';
@import 'variables';
@import 'mixins';

@import 'body';
@import 'header';
@import 'nav';
@import 'main';
@import 'container-grids';
@import 'aside';
@import 'footer';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}


// TODO: Asides.

// TODO: Something fancy with lists.

// TODO: Scrollbar styling.

// TODO: Responsive stuff. Learn SASS breakpoints.
