
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=IBM+Plex+Mono:wght@300;400;700&family=IBM+Plex+Sans:wght@300;400;700	&display=swap');


// Fonts					Weights
// -----------------------------
// Arvo 					700
// IBM Plex Sans  	300 400 700
// IBM Plex Mono  	300 400 700


@import './globals/normalize';
@import './globals/variables';
@import './globals/mixins';
@import './globals/typography';

@import 'body';
@import 'grids';
@import 'scrollbar';

@import './sections/header';
@import './sections/nav';
@import './sections/about';
@import './sections/guidelines';
@import './sections/contribute';
@import './sections/current-style';
@import './sections/featured-styles';
@import './sections/footer';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	*, ::before, ::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}


// TODO: Scrollbar styling.

// TODO: Responsive stuff. Learn SASS breakpoints.
