
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=IBM+Plex+Mono:wght@300;400&family=IBM+Plex+Sans:wght@300;400&display=swap');

@import 'normalize';
@import 'variables';
@import 'spectrum-gradient';
@import 'clip-paths';

@import 'body';
@import 'header';