
.profile {
	position: relative;
	background-color: $background-lighter;
	margin-bottom: 1rem;
	padding: 1rem;

	.container {
		width: max-content;
		text-align: center;
		font-size: 1em;

		h4 {
			font-size: 1.3750rem;
			margin-top: 0;
			margin-bottom: 1.5rem;
		}

		li {
			display: flex;
			justify-content: space-between;
	
			span:first-of-type {
				font-weight: 700;
			}
	
			span + span {
				margin-left: 1rem;
			}
		}
	}

	@include spectrum-spripe;
}