
.page-footer {
	background-color: $background-lighter;
	text-align: center;
	font-size: 0.8rem;
	color: $darker-text;
	padding: 1rem;
	margin-top: 3rem;

	// Social Links
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		font-size: 1rem;
		margin: 2rem 0 3rem;

		li {
			position: relative;
			margin: 0.25rem;
			text-transform: uppercase;

			a {
				display: flex;
				align-items: center;
				text-decoration: none;
				color: $main-text;
				padding: 0 1rem 0.5rem;
				height: 2em;
	
				// 'Star on GitHub' SVG icon.
				svg {
					height: 1.25em;
					width: 1.25em;
					fill: $orange;
					margin-right: 0.5em;
					transition: $transition;
				}
	
				&:hover,
				&:focus {
					color: $main-text;
				}
			}

			@mixin correct-underline {
				a::after {
					top: 1.5rem;
				}
			}

			&:first-of-type {
				@include nav-underline($red);
				@include correct-underline;
			}
	
			&:nth-of-type(2){
				@include nav-underline($orange);
				@include correct-underline;
			}
	
			&:nth-of-type(3){
				@include nav-underline($yellow);
				@include correct-underline;
			}
	
			&:nth-of-type(4){
				@include nav-underline($green);
				@include correct-underline;
			}
		}
	}
}