
main {
	h2 {
		grid-area: header;
		position: relative;
		font-family: $arvo;
		font-size: 2.5rem;
		text-align: center;
		background: $background-lighter;
		width: 100%;
		height: 100%;
		padding: 1rem 10rem;
		margin: 0;

		@include spectrum-spripe;
	}

	@media (max-width: $medium) {
		h2 {
			font-size: 2rem;
			text-align: left;
			padding-left: 1rem;
		}
	}

	h3 {
		font-family: $plex-mono;
		text-transform: lowercase;
		font-size: 1.5rem;
		text-align: center;

		&::before {
			content: '{';
		}

		&::after {
			content: '}';
		}

		&::before,
		&::after {
			margin: 0 0.5em;
			font-size: 1.25em;
			font-weight: 700;
			color: $green;
		}
	}

	p {
		margin: 0.75em 0;
	}
}